.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2)
}

.navbutton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 30%;
    cursor: pointer
}

.dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem; 
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer; 
}

.caption {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 1rem;
  color: #333;
  font-family: sans-serif;
}